// bower:scss
// endbower

$bg-grap: #F8F8F8;
$bg-white: #fff;
$max-width: 1080px;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-grap;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width: $max-width;
  margin: 0 auto;
}

.lattices {
  margin-top: 200px;
}

.lattice {
  $width: $max-width/5-2px;
  $img-width: 72px;
  $p-width: 70px;
  $img-padding: ($width - $img-width)/2;
  
  display: none;
  background-color: $bg-white;
  border: 1px solid #eee;
  width: $width;
  height: $width;
  float: left;
  overflow: hidden;

  img {
    width: $img-width;
    height: $img-width;
    padding: $img-padding - 15px $img-padding 0px;
  }

  p {
    height: $p-width;
    line-height: $p-width;
    text-align: center;
    font-weight: bold;
  }

  .bottom {
    text-align: center;

    div>span {
      padding: 5px 15px;
      height: 24px;
      line-height: 24px;
      border-radius: 12px;
      border: 1px solid #ddd;
      background-color: #f8f8f8;
    }
  }
  
  .content {
    cursor: pointer;
    margin-bottom: 30px;
    transition: margin-top .3s;
    -webkit-transition: margin-top .3s;
  }

  &:hover {
    .content {
      margin-top: -120px;    
    }
  }

}

.huxiu {
    $bg-out: #343A40;
    $bg-hover: #7B8894;
    $width-icon: 40px;
  position: relative;
  background-color: $bg-out;
  border-radius: 50px;
  height: $width-icon;
  width: $width-icon;

  &:before {
    content: '';
    height: 40px;
    width: 40px;
    background-color: $bg-hover;
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    opacity: 0;
    transform: scale(0);
    transition: .5s cubic-bezier(.3,0,0,1.3);
  }

  &:hover:before {
    transform: scale(1);
    opacity: 1;
  }
  
  $width-qrcode: 134px;
  .app-qrcode {
    opacity: 0;
    position: absolute;
    top: -150px;
    left: - ($width-qrcode - $width-icon) /2;
    transition: all .5s;

    &:after {
      content: '';
      display: block;
      position: absolute;
      border: 8px solid transparent;
      border-top: 10px solid #fff;
      top: 129px;
      left: 57px
    }
  }

  &:hover .app-qrcode {
    opacity: 1;
    top: -140px;
  }
  .icon {
    height: $width-icon;
    width: $width-icon;
    display: inline-block;
    background-image: url(/images/icon.png);
    background-position: 12px -185px;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
    position:relative;
    z-index:1;

    &:hover {
      background-position: 12px -226px;
    }
  }

}