* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #22C3AA;
	font-family: Lato, "Microsoft YaHei", sans-serif;
}
.container {
	margin: 0 auto;
	width: 90%;
	max-width: 1000px;
}
.container div{
	background-color: #efefef;
	box-shadow: 0 0 10px 2px #666;
}
.middle{
	display: inline-block;
	margin-top: -162px;
	width: 100%;
	min-height: 600px;
	z-index: 1;
}
.right,.left{
	position: relative;
	z-index: -10;
	height: 200px;
}
.right{
	transform: rotate(-5deg);
    margin-top: -200px;
    left: -10px;
}
.left{
	transform: rotate(5deg);
	margin-top: 100px;
	left: 10px;
}
.music{
	position: fixed;
	right: 20px;
	bottom: 10px;
	border-radius: 50%;
	background-color: #22C3AA;
	box-shadow:  0 1px 3px 1px rgba(0,0,0,0.4);
	width: 50px;
	height: 50px;
	background-image: url('../images/music.png');
	animation: rotate 3s;
	-webkit-animation: rotate 5s linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}
.music:hover{
	background-color: #D0648A;
}
@keyframes rotate
{
	/* 0%   {transform: rotate(0deg);}
	25%  {transform: rotate(90deg);}
	50%  {transform: rotate(180deg);}
	100% {transform: rotate(360deg);} */
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}
#netmusic{
	display: none;
	position: fixed;
	right: 60px;
	bottom: 30px;
}